<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome, data is <%= result %></p>

  <script>
  /*
     <video id="video" width="640" height="480" autoplay></video>
  <button id="snap">Snap Photo</button>
  <canvas id="canvas" width="640" height="480"></canvas>
    // Grab elements, create settings, etc.
var video = document.getElementById('video');

// Get access to the camera!
if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        video.src = window.URL.createObjectURL(stream);
        video.play();
    });
}
*/
  </script>
  </body>

</html>
