<!DOCTYPE html>
<html>
<head>
  <title> Classifier </title>
  <!-- Bootstrap css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- Bootstrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>


<div id="header_box">
 <h1> Classifier Bot </h1>
 <button id="about_button" data-toggle="collapse" data-target="#about">About</button>
 </div>
<div "about_box">
<div id="about" class="collapse">
This application sends images from the client to the server, and the server calls on a python tensorflow process to classify the image before sending it back to the client via socket.io. <br>
The backend tensorflow application utilizes inception's image recognition model.
The model is trained on 3000 classes of objects and animals, but unfortunately, is not trained on humans. I appoligize for whatever the model labels you as.
<br>
The application requires a camera and a browser which supports media devices. If you are having video streaming issues, try switching to an updated version of firefox or chrome.
</div>


  <div id="labels_box">
  <div id="labels">
  <label></label>
  <label></label>
  <label></label>
  </div>
  </div>
  <div id="video_box">
  <video id="video" autoplay="autoplay">Video stream not available on your browser. Try an updated version of chrome or firefox.</video>
  </div>
  <!--- Hidden canvas for photo copying only -->
  <canvas style="display:none" id="canvas" width="512" height="512"></canvas>
  <!--- Built in to client by socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <!--- client code -->
  <script src="/javascripts/client.js"></script>
</script>
</body>

</html>
